<header class="site-header">
  <div class="wrap nav">
    <a class="brand" href="/" aria-label="Leicester Space Week home">
      <img
        src="/assets/logos/fox.png"
        alt="Leicester Space Week"
        width="64"
        height="64"
      />
      <span>
        <strong>LEICESTER SPACE WEEK</strong>
        <span>Exploring innovation together</span>
      </span>
    </a>

    <nav aria-label="Main navigation">
      <ul class="nav-links">
        <li><a href="/programme/">Programme</a></li>
        <li><a href="/forum/">Forum</a></li>
        <li><a href="/about/">Why Leicester</a></li>
        <li><a href="/partners/">Partners</a></li>
      </ul>
    </nav>

    <a class="btn btn-primary nav-cta" href="/get-involved/">Get involved</a>
  </div>
</header>
